  .header {
    background-color: var(--grisclair);
  }
  .container {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
  .logo {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    height: 100%;
  }
  .link{
    border: 1px solid var(--bleu);
    width: 100%;
    padding: 0.3rem 0.3rem;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    opacity: 0.9;
  }
  .cta {
    background-color: #22467b;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
  }
