	.h1 {
		color: var(--bleu);
		font-size: 35px;
		margin-top: 1rem;
		margin-bottom: 1rem;
		text-align: center;
		font-weight: bold;
	}
	.p {
		font-size: 16px;
		text-align: center;
		margin-bottom: 30px;
	}
	.description {
		font-size: 16px;
		text-align: center;
  }
	.ul {
		list-style-type: none;
		padding: 0 20px;
		font-size: 16px;
		margin-bottom: 30px;
	}
	.li {
		margin-bottom: 40px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.title {
		text-decoration: underline;
	}
	.section{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
