.container {
		background-color: var(--grisclair);
		padding: 20px;
		text-align: center;
		font-size: 14px;
		line-height: 1.6;
		color: var(--bleu);
	}
	.div {
		margin: 10px 0;
		display: flex;
		gap: 15px;
		justify-content: center;
	}
	.link {
		margin: 0 8px;
		color: var(--bleu);
		text-decoration: none;
	}