.container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Titres */
.h1 {
	font-size: 1.5rem;
	text-align: center;
	color: var(--bleu);
	font-weight: bold;
	margin: 1rem 0;
}

.h2 {
	font-size: 1.25rem;
	text-align: center;
	color: var(--bleu);
	font-weight: bold;
	margin: 1rem 0;
}

/* Paragraphes */
.description {
	font-size: 0.95rem;
	text-align: center;
	color: var(--grisfonce);
	margin: 0.5rem 1rem 1rem 1rem;
	line-height: 1.5;
}

/* Liste */
.ul {
	list-style-type: disc;
	padding: 0 20px;
	margin-bottom: 1rem;
	margin-bottom: 60px;
}

.li {
	margin-bottom: 10px;
	font-size: 0.95rem;
	line-height: 1.4;
}
.cta {
	background-color: var(--bleu);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

/* Pour tablette et desktop */
@media (min-width: 768px) {
	.container {
		max-width: 900px;
		margin: 0 auto;
		padding: 2rem;
	}

	.h1,
	.h2 {
		font-size: 40px;
	}

	.description {
		font-size: 18px;
	}

	.li {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.cta {
		padding: 0.75rem 1.5rem;
		font-size: 18px;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1100px;
		padding: 3rem;
	}
}
