.home {
	padding: 2rem;
}
.h1 {
	color: var(--bleu);
	font-size: 35px;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: bold;
}
.h2 {
	color: var(--bleu);
	font-size: 25px;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: bold;
}
.p {
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
}
.ul {
	list-style-type: disc;
	padding: 0 20px;
	font-size: 16px;
	margin-bottom: 30px;
}
.li {
	margin-bottom: 10px;
}
.cta {
	background-color: var(--bleu);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 20px;
}
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
