.home {
	padding: 2rem;
}
.h1 {
	color: var(--bleu);
	font-size: 35px;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: bold;
}
.h2 {
	color: var(--bleu);
	font-size: 25px;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: bold;
}
.p {
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
}
.ul {
	list-style-type: disc;
	padding: 0 20px;
	font-size: 16px;
	margin-bottom: 30px;
}
.li {
	margin-bottom: 10px;
}
.cta {
	background-color: var(--bleu);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 20px;
	max-width: 470px;
}
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sectionImg {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

@media (min-width: 600px) {
  .home {
    padding: 3rem;
  }

  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 30px;
		margin-bottom: 2rem;
  }

  .p, .ul {
    font-size: 18px;
  }
	.section, .sectionImg  {
		margin-top: 2.5rem;
	}

}

@media (min-width: 1024px) {
  .home {
    padding: 4rem 8rem;
  }

  .h1 {
    font-size: 50px;
  }

  .h2 {
    font-size: 40px;
		margin: 0;
  }

  .p, .ul {
    font-size: 22px;
  }

  .section {
		align-items: center;
    gap: 3rem;
  }

  .cta {
    padding: 0.75rem 1.5rem;
    font-size: 18px;
		width: 50%;
  }
	.img{
		max-width: 600px;
	}
}
